        h1{
            color: orange;
        }
        a{
            text-decoration: none;
            color: white;
            background-color: skyblue;
            border-radius: 5px;
            padding: 10px;
            font-weight: bold;
            font-size: 20px;
            font-style: italic;
        }

        .logo{
             height: 100px;
             width: 100px;
        }